<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="demo_manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <demo_manager.Properties.Settings>
            <setting name="WorkDir" serializeAs="String">
                <value />
            </setting>
            <setting name="FinalDir" serializeAs="String">
                <value />
            </setting>
            <setting name="Tickrate" serializeAs="String">
                <value>0.015</value>
            </setting>
            <setting name="GameDir" serializeAs="String">
                <value />
            </setting>
            <setting name="DemDefName" serializeAs="String">
                <value />
            </setting>
            <setting name="DemNaming" serializeAs="String">
                <value>{segment_count}-{runner_name}-{time_secs}</value>
            </setting>
            <setting name="DemSaveName" serializeAs="String">
                <value />
            </setting>
            <setting name="RunnerName" serializeAs="String">
                <value />
            </setting>
            <setting name="SegmentCount" serializeAs="String">
                <value />
            </setting>
        </demo_manager.Properties.Settings>
    </userSettings>
</configuration>